.App {
  text-align: center;
}


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #5371ad; 
  height: 100vh;
  display: flex;
   flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(255, 255, 255);

}



/* footer----------------------------- */

.social-container {
  background: #adaaaa;
  padding: 25px 50px;
  /* position:absolute; */
  bottom: 0;
  width: 100%;
}
a.social {
  margin: 0 1rem;
  transition: transform 250ms;
  display: inline-block;
}
a.social:hover {
  transform: translateY(-2px);
}
a.linkedin {
  color: #4d56d7;
}

a.facebook {
  color: #4968ad;
}

a.twitter {
  color: #49a1eb;
}

a.instagram {
  color: black;
}
.question-list{
  text-align: center;
  margin-top: 50px;

}
/* Style to list the questions......... */
.question-list ul li{
  display: inline-flex;
  border: 1px solid skyblue;
  padding: 5px;
  width: 150px;
}
.question-list ul{
  margin: 0px;
}
.name{
  width: 40px;
}
.contain{
  display: flexbox;
  justify-content: center;
  align-items: center;
  height: 500px;
  width: 500px;
  border: solid black;
  margin: auto;


}
.addproblem label{
  padding: 4px;
  margin: 10px;
  display: block;

  
}
.addproblem input{
  width: 100%;
}
.questions {
  display: flex;
  margin: 0%;
}
.questions p{
  margin-top: 2px ;
  margin-left: 10px;
  font-size:x-large;
  

}
.div2{
  margin: 8px 0px 5px 10px;
  text-align: initial;

}

.hint{
  /* height: 400px; */
  /* display: flex; */
  margin-top: 2.3%;
  margin-bottom: 10%;
  text-align: initial;
  
}
.hint button{
  margin: 1.5% 0px 0px 0.8%;
}
.div2 input{
  margin: 1% 5px 1px 1px;
  animation-name: myanimation;
  animation-duration: 10s;
  background-color: white;
}
.div2 label{
  margin: 5px 0px 27px -9px;
  font-size: large;
  width:-webkit-fill-available;
  background-color: rgb(243, 242, 241);
  padding: 5px;
  /* margin: 5px 0px 24px -9px; */
  
}

.inputtag{
  border: none;
  border-bottom: solid 1px;

  cursor: pointer;

}
.label{
  cursor: pointer;
}
.projectname{
  text-align: initial;

}
.inputfield{
  border: none;
  border-bottom: solid 0.5px;
  width: 70%;
  font-size: large;
  padding: 0px 0px 0px 20px;
}
.file-upload{
 text-align: center;
 display: none;
}

 .addp-container{
  display: inline-block;
  border: solid rgb(88, 33, 33);
  width: 50vw;
  height: 94vh;
  font-size: larger;
  

}
@media screen and (min-width: 768px) {
    .addp-container{
      text-align: initial;
    }
  }
.inner-container{
  display: grid;
}
.type-and-name{
  width: 75%;
  margin: 15px 10px 25px 10px;
}
#cars{
  margin: 10px 10px 12px 17px;
}
.addp-container input{
  border: none;
  border-bottom: solid blue;

}
.problem-text{
  width: 83%;
  border: solid blue;
  display: inline-table;
}
.statement-area{
  margin-top: 20px;

}
.options{
  display: grid;
  margin: 60px 10px 25px 10px;
}
.options input{
  width: 60%;
}
.options label{
  margin-bottom: 5px;
} 

/* to implement hint CSS....................... */






@keyframes myAnimation {
  from {background-color:white;}
  to {background-color: rgb(52, 224, 167);}
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
